---
import { Icon } from 'astro-icon/components'
import StackCard from '@/components/StackCard.astro'
import type { TechStack, Project } from '@/types'
import { getStack } from '@/lib/utils'

interface Props {
	data: Project
	t: (key: string) => string
}

const { data, t } = Astro.props
const { title, description, stack, url, github } = data

const techStack = getStack(stack)
---

<div
	class='border z-50 bg-white/75 dark:bg-black/75 border-primary/15 dark:border-white/20 w-full hover:shadow-lg transition-all duration-200 my-4 rounded-xl p-5 shadow-md'
>
	<div class='card-body'>
		<div class='grid grid-cols-3 gap-4 mb-2'>
			<div class='self-start col-span-2 justify-self-start text-left'>
				<h1
					class='uppercase card-title font-extrabold tracking-tighter md:text-2xl'
				>
					{title}
				</h1>
			</div>
		</div>
		<div class='grid grid-cols-4 gap-5 place-items-center'>
			<div class='self-start col-span-3 justify-self-start text-left'>
				<article class='prose'>
					<Fragment set:html={description} />
				</article>
				{
					Array.isArray(stack) && (
						<div class='space-y-4'>
							<p class='font-semibold text-black dark:text-white'>
								{t('project.developed-with')}
							</p>
							<div class='flex flex-wrap content-around gap-2 my-4'>
								{techStack.map((item: TechStack) => (
									<StackCard
										text={item.NAME}
										icon={item.ICON}
										href={item.HREF}
									/>
								))}
							</div>
						</div>
					)
				}
			</div>
			{
				!!url && (
					<div class='self-center justify-self-end'>
						<a
							href={url}
							target='_blank'
							class='link link-hover text-sm text-right flex justify-center items-center my-5'>
							{url !== '#' && (
								<Icon name='carbon:link' class='w-4 h-4 ml-2' />
							)}
						</a>
						<a
							href={github}
							target='_blank'
							class='link link-hover text-sm text-right flex justify-center items-center my-5'>
							{github !== '#' && (
								<Icon
									name='carbon:logo-github'
									class='w-4 h-4 ml-2'
								/>
							)}
						</a>
					</div>
				)
			}
		</div>
	</div>
</div>
