---
import { getCollection } from 'astro:content'

import PageLayout from '@/layouts/PageLayout.astro'
import Card from '@/components/Card.astro'
import { useTranslations } from '@/i18n/utils'

const t = useTranslations('en')
const projects = await getCollection('project')
---

<PageLayout title={t('projects.title')} description={t('projects.description')}>
	<div class='absolute inset-0 block dark:hidden'>
		<div id='particles1' class='fixed inset-0'></div>
		<div id='particles2' class='fixed inset-0'></div>
		<div id='particles3' class='fixed inset-0'></div>
	</div>

	<!-- Dark Theme: Stars -->
	<div class='absolute inset-0 bg-black hidden dark:block'>
		<div id='stars1' class='fixed inset-0'></div>
		<div id='stars2' class='fixed inset-0'></div>
		<div id='stars3' class='fixed inset-0'></div>
	</div>

	<script is:inline src='/js/bg.js'></script>

	<!-- Sphere -->
	<section class='relative h-[50vh] w-full'>
		<div
			id='sphere-wrapper'
			class='animate absolute inset-0 top-2/4 overflow-hidden'
		>
			<div
				id='sphere-inner'
				class='absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[75vh] aspect-square rounded-full p-[5px] bg-gradient-to-b from-primary/75 dark:from-white/25 from-0% to-5%'
			>
				<div
					id='sphere-content'
					class='w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center'
				>
					<div
						id='sphere-blur'
						class='w-full h-20 rounded-full bg-neutral-900/15 dark:bg-white/5 blur-2xl'
					>
					</div>
				</div>
			</div>
		</div>
		<div
			class='animate absolute h-[75vh] w-full flex items-center justify-center'
		>
			<div
				class='relative flex-col w-full h-full flex items-center justify-center'
			>
				<div class='p-5 text-center'>
					<p
						class='animated text-lg md:text-xl lg:text-2xl font-semibold opacity-75'
					>
						{t('projects.title')}
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class='relative w-[50vw] self-center'>
		{
			projects.map(({ data }) => {
				return (
					<Card
						title={data.title}
						timeframe={data.date}
						description={data.description}
						tags={data.tags}
						url={data.url}
						url_name={data.url_name}
						location={data.location}
					/>
				)
			})
		}
	</section>
</PageLayout>
