---
import Layout from '@/layouts/BlogPost.astro'
const works = await Astro.glob('@/pages/experience/*.md')

import Card from '@/components/Card.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout
	title='About Me'
	description='Lorem ipsum dolor sit amet'
	pubDate={new Date('August 08 2021')}
	heroImage='/blog-placeholder-about.jpg'
>
	<h1>{t('nav.experience')}</h1>
	{
		works.map((item) => {
			return (
				<Card
					title={item.frontmatter.title}
					timeframe={item.frontmatter.date}
					description={item.compiledContent()}
					tags={item.frontmatter.tags}
					url={item.frontmatter.url}
					url_name={item.frontmatter.org}
					location={item.frontmatter.location}
				/>
			)
		})
	}
</Layout>
